:root{
    --rojo:#e50914;
    --blanco:#fff;
    --gris:#757575;
    --gris-f: #757575;
    --negro:#000;
    --tipo-titular: 'Bebas Neue', cursive;
    --tipo-principal: 'Inter Tight', sans-serif;
    --tipo-navegacion:'Heebo', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

td{
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    scroll-behavior: smooth;
}

img, figure{
    display: flex;
    object-fit: cover;
    object-position: center center;
}

.body{
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh; 
    max-width: 100%;
    background-color: var(--blanco);
}
.contenedor{
    margin: auto;
    width: 100%;
}

/*Cabecera*/

 .cabecera{ 
    min-height: 5em;
    background: rgb(239, 254, 178);
    color: black;
    padding: 0 0 2em;

    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 6rem;
    padding: 1rem;
    border-radius: 50%;
}

.titulo .h1{
    text-align: center;
    font-family: var(--tipo-titular);
    font-size: 2.5em;
}
.idiomas{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.idiomas img{
    width: 2em;
    margin: 0 1em;
    border-radius: 45%;
}

/*Menu de navegacion*/

.menu{
    width: 100%;  
    text-align: center;
    font-size: 1.1em;
    background: linear-gradient(rgba(179, 248, 245, 0.5), rgba(68, 255, 44, 0.5));
    padding: 0 0 0;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.menu ul{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: var(--tipo-navegacion);
}
.menus li a {
     color:black;
     text-decoration:none; 
     padding:0 0;  
     display:block;   
} 

.menus li a:hover { /*cambia de color cuando el cursor está encima*/ 
       background-color:#a4c745; 
} 

.menus li a:focus { /*cambia de color cuando lo seleccionamos*/
    background-color:#aa0c53; 
} 

.menu li ul{
    background-color: #24e072;
    display: none;
    position:absolute;
}

.menus li:hover > ul { /*cuando pasamos el cursor por encima del elemento principal,muestra en columnas los sub-elementos*/ 
    display:block; 
} 

.menus li ul li {
    position:relative; /*por defecto*/ 
}
    .menus li ul li ul { /*entre sub-menús*/ 
       right:-140px; 
       top:0px;
}

/*Contenido Index*/

.gridOtro{
    background-color: rgb(0, 83, 79);
    padding: 0 0 7em;
    width: 60%;
    float: left;
    
}
.gridOtro .h2{
    padding: 1em 0 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    font-family: var(--tipo-principal);
    color: rgba(239, 254, 178);
    width: 100%;
}
.gridOtro .p{
    padding: 0 0 1em;
    text-align: center;
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255);
}
.contenido{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content:space-around;
    padding: 0 0 5.9em;
    width: 88%;
}
.contenido p{
    font-weight: 400;
    width: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50%;    
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255); 
}
.celda{
    width: 50px;    
    text-align: center;
    font-size: 1em;  
}
.figure img {
    width: 500px;
    height: 200px;
    padding-bottom: 50%;
    padding-top: 50%;
}
.celda .h3{
    font-size: 1.5em;
    font-family: var(--tipo-principal);
    color: rgba(239, 254, 178);
    width: 100%;
    padding: 1em 2em 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4em;
}

.celda .p{
   text-align: center;  
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255);
}

.video{
    padding: 2.85em;
    background: #90ee90;
    float: right;
    width: 40%;    
    text-align: center;
    font-size: 1em;
    font-family: var(--tipo-principal);
}

.seccionOtro{ 
    width: 100%;
}

.seccionOtro iframe{
    padding: 1em 0 2em;
    width: 100%;
}

.seccionOtro .img{
    width: 43%;
    padding: 1em 0 2em 2em;
    margin-top: 2em;
    margin-left: 9em;
} 

.pie{
    width: 100%;
    min-height: 3em;
    background: #8fbc8f;
    color: black;
    font-family: var(--tipo-navegacion);
    padding:1em 0 1em; 
    text-align: center;
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center; 
}
.pie .pie1{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center; 

    padding: 0 1.5em;
}

.pie1 svg{
    margin: 0 0.8em;

}
    
.pie .pie2{
    width: 35%;  
    text-align: center;
    font-size: 1em;
    margin-right: 6em;
}

.pie2 .ul{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.pie3 .redes{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.pie3 svg{
    margin: 0 1em;
}

/*Universidad*/

#carouselExampleControls{
   width: 80%;
   padding: 1em;
   margin-left: 7.5em;
}

/*Todas paginas*/
.seccion{
    width: 100%;
    min-height: 80vh;
   
    margin: 1em 0;
    padding: 2em;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(rgba(17, 226, 216, 0.5), rgba(0, 83, 79, 0.5));
}

.seccion .info{
    font-size: 1.2em;
    animation: aparecer1 2s ease 1 both;
}

.seccion .ul{
    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.seccion .ul .li{
    margin: 0 1em;
}

.seccion .ul .a{
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding: 1em 1em 1em;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    animation: aparecer1 2s ease 1 backwards;
}

.seccion .ul>:nth-child(2) .a{
    animation-delay: .2s;
}

.seccion .ul .a:hover{
   border-color: black;
}

.seccion .h2{
    font-family: var(--tipo-titular);
    font-weight: 600;
    font-size: 5em;
    line-height: 1em;
    color: rgba(0, 0, 0, .7);
    
}

.seccion .h3{
    font-family: var(--tipo-titular);
    /*font-style: italic;*/
    font-size: 4em;
}

.seccion .grid{
    width: 90%;
    max-width: 40em;
    margin: 1em 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1em;
}
.seccion .article{
    width: 100%;
    min-height: 20vh;
    background: lightgoldenrodyellow;
   

    display: flex;
    flex-flow: column no wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
    border-radius: 1em;
}

.seccion .img{
    width: 100%;
}

.seccion .h4{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1rem);
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
    font-size: 1.8em;
    font-family: var(--tipo-titular);
    font-style: italic;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateZ(1) scale(1.2);
    transition: all .5s ease;
}

.seccion .article:hover h4{
    opacity: 1;
    transform:translateZ(1) scale(1)
}
