:root{
    --rojo:#e50914;
    --blanco:#fff;
    --gris:#757575;
    --gris-f: #757575;
    --negro:#000;
    --tipo-titular: 'Bebas Neue', cursive;
    --tipo-principal: 'Inter Tight', sans-serif;
    --tipo-navegacion:'Heebo', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

li{
    list-style: none;
}

a{
    display: block;
    text-decoration: none;
    color: inherit;
}

td{
    border-collapse: collapse;
    border-spacing: 0;
}

html{
    scroll-behavior: smooth;
}

img, figure{
    display: flex;
    object-fit: cover;
    object-position: center center;
}

.body{
    font-family: var(--tipo-principal);
    font-size: 100%;
    min-height: 100vh; 
    max-width: 100%;
    background-color: var(--blanco);
}
.contenedor{
    margin: auto;
    width: 100%;
}
 .cabecera{ 
    min-height: 5em;
    background: rgb(239, 254, 178);
    color: black;

    padding: 0 0 2em;

    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.titulo .h1{
    text-align: center;
    font-family: var(--tipo-titular);
    font-size: 2em;
}
.idiomas{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;

}
.idiomas img{
    width: 2em;
    margin: 0 1em;

}

.logo img{
    width: 5rem;
    padding: 1rem;
    border-radius: 50%;


}
 .menu{
    width: 100%;  
    text-align: center;
    font-size: 1em;
    background-color: rgb(173, 255, 43);
    padding: 0 0 0;
}

.menu ul{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;

    font-family: var(--tipo-navegacion);
}
.menus li a {
   
    color:black;
     text-decoration:none; 
     padding:0 0; 
     /*padding:20px 32px;*/ 
     display:block;  
     border-left: 1px solid rgb(2, 2, 2);
     border-right: 1px solid rgb(2, 2, 2);
   } 
   .menus li a:hover { /*cambia de color cuando el cursor está encima*/ 
       background-color:#24e072; 
   } 
.menus li a:focus { /*cambia de color cuando lo seleccionamos*/
    background-color:#aa0c53; 
    /*outline:3px solid red;*/ 
   } 
.menu li ul{
    display: none;
    position:relative;
}

.menus li:hover > ul { /*cuando pasamos el cursor por encima del elemento principal,muestra en columnas los sub-elementos*/ 
    display:block; 
} 

.menus li ul li {
    position:relative; /*por defecto*/ 
   }
    .menus li ul li ul { /*entre sub-menús*/ 
       right:140px; 
       top:0px;
   }

.grid{
    /*padding: 2em, 2em, 2em, 2em;*/
    /*width: 100%;*/
    background-color: rgb(0, 83, 79);
    padding: 0 0 5em;
    width: 60%;
    float: left;
}
.grid .h2{
    padding: 1em 0 1em;
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
    font-family: var(--tipo-principal);
    color: rgba(239, 254, 178);
    width: 100%;
}
.grid .p{
    padding: 0 0 1em;
    text-align: center;
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255);
}
.contenido{
    display: flex;
    flex-wrap: row wrap;
    align-items: center;
    justify-content:space-around;
    padding: 0 0 2em;
    width: 88%;
    /*background-color: aqua;*/
}
.celda{
    width: 50px;    
    text-align: center;
    font-size: 1em;
}

.video{
    padding: 2em;
    background: #90ee90;
    float: right;
    width: 40%;    
    text-align: center;
    font-size: 1em;
    font-family: var(--tipo-principal);
    min-height: 100%;

}

.contenido p{
    font-weight: 400;
    width: 400%;
    display: flex;
    /*background-color: brown;*/
    align-items: center;
    justify-content: center;
    padding-top: 50%;    
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255); 
}
.titulo .h3{
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-family: var(--tipo-principal);
    color: rgba(239, 254, 178);
    width: 100%;
    padding: 1em 2em 1em 0;
   min-height: 5%;
}

.celda .p{
    text-align: center;
    
    font-family: var(--tipo-principal);
    color: rgb(255, 255, 255);
}
.figure img {
    width: 500px;
    height: 200px;
    padding-bottom: 50%;
    padding-top: 50%;
}

.navegacion{
   /*float: right;*/  
}

.seccion{ 
    width: 100%;
   
    /*background-color: rgb(104, 241, 235);*/
   
}

.seccion .img{
    width: 73%;
    padding: 1em 0 2em 2em;
    /*background-color: rgb(104, 241, 235);*/
} 



.pie{
    width: 100%;
    min-height: 3em;
    background: #8fbc8f;
    color: black;

    padding:1em 0 1em; 
    text-align: center;
    position: relative;
    z-index: 2;

    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    align-items: center;

    font-family: var(--tipo-navegacion);
}
.pie .pie1{

    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    padding: 0 1.5em;
}

.pie1 svg{
    margin: 0 1em;

}
    
.pie .pie2{
    width: 35%;  
    text-align: center;
    font-size: 1em;
}

.pie2 .ul{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.pie3 .redes{
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.pie3 svg{
    margin: 0 1em;
}

